{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@services": "./services",
          "@components": "./components",
          "@assets": "./assets",
          "@screens": "./screens",
          "@constants": "./constants"
        }
      }
    ]
  ]
}